<div layout="column" flex>
  <md-toolbar md-whiteframe="2">
    <div class="md-toolbar-tools">
      <h2>Rio Bus</h2>
    </div>
  </md-toolbar>

  <div flex layout="row">
    <div flex layout="column">
      <div flex layout="row">
        <div flex layout="column" layout-padding>
          <ng-map center="-22.912534, -43.192880" zoom="13" id="map" map-type-control="false" flex>
            <shape name="rectangle" editable="true" draggable="true" bounds="[[-22.92, -43.18],[-22.93, -43.17]]" on-bounds_changed="$ctrl.boundsChanged()">
            </shape>
            <marker ng-if="$ctrl.lines"
                    ng-repeat="line in $ctrl.lines" 
                    position="{{line.position}}" 
                    on-click="$ctrl.showLine(event, line.id)">
            </marker>
            <info-window id="foo" ng-if="$ctrl.lines">
              <div ng-non-bindable="">
                <p>Linha: {{$ctrl.line.number}}</p>
                <p>Velocidade: {{$ctrl.line.speed}}km/h</p>
                <p>Data: {{$ctrl.line.date}}</p>
              </div>
            </info-window>
          </ng-map>
        </div>
      </div>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Filter</span>
          </md-card-title-text>
        </md-card-title>
        <div flex layout="column" layout-margin>
          <md-radio-group ng-model="$ctrl.filter.type" flex layout="row" ng-disabled="$ctrl.loading">
            <md-radio-button value="Limit">Speed Limit</md-radio-button>
            <md-radio-button value="Lines">Bus Lines</md-radio-button>
            <md-radio-button value="Average">Average Speed</md-radio-button>
          </md-radio-group>
          <div flex layout="row">
            <md-input-container ng-show="$ctrl.filter.type === 'Limit'" class="md-block">
              <input ng-model="$ctrl.filter.speed" type="number" placeholder="Speed" ng-required="$ctrl.filter.type === 'Limit'" ng-disabled="$ctrl.loading">
            </md-input-container>
            <md-datepicker ng-model="$ctrl.filter.$dateBegin" md-placeholder="Start Date" ng-disabled="$ctrl.loading">
            </md-datepicker>
            <md-datepicker ng-model="$ctrl.filter.$dateEnd" md-placeholder="End Date" ng-disabled="$ctrl.loading">
            </md-datepicker>
          </div>
          <md-button flex class="md-primary md-raised" ng-click="$ctrl.search()" ng-disabled="$ctrl.loading">
            Search
          </md-button>
        </div>
      </md-card>
    </div>
    <div flex layout="column">
      <md-card flex>
        <md-card-content flex layout="column">
          <div layout="column">
            <span class="md-headline">Resultados</span>
            <span class="md-subhead">Utilize os filtros ao lado para fazer uma busca</span>
          </div>
          <div layout="row" layout-align="center center" flex ng-show="$ctrl.loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div layout="column" layout-align="center center" ng-hide="true">
            <md-icon style="font-size: 60px;">search</md-icon>
            <h4 class="md-headline">Select the filters and search</h4>
          </div>
          <div ng-show="$ctrl.average" flex layout-align="center center" layout="column">
            <md-icon style="font-size:50px;margin:0px;height:50px;width:50px;">slow_motion_video</md-icon>
            <h4 class="md-headline">Velocidade Média: {{$ctrl.average}} km/h</h4>
          </div>
          <md-content ng-show="$ctrl.linesCount" style="margin-top:70px; background-color:white;">
            <md-list>
              <md-list-item class="md-2-line" ng-repeat="line in $ctrl.linesCount | orderBy: '-count'">
                <md-icon class="md-avatar-icon">directions_bus</md-icon>
                <div class="md-list-item-text">
                  <h3> Linha: {{ line.number }} </h3>
                  <p> Quantidade: {{ line.count }} </p>
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                  <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
          <md-content ng-show="$ctrl.lines" style="margin-top:70px; background-color:white;">
            <md-list>
              <md-list-item class="md-2-line" ng-repeat="line in $ctrl.lines | orderBy: '-speed'">
                <md-icon class="md-avatar-icon">directions_bus</md-icon>
                <div class="md-list-item-text">
                  <h3> Linha: {{ line.number }} </h3>
                  <p> Velocidade: {{ line.speed }}km/h </p>
                </div>
                <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                  <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
          <div flex layout-align="center center" layout="column" ng-show="$ctrl.notFound">
            <md-icon style="font-size:50px;margin:0px;height:50px;width:50px;">sentiment_dissatisfied</md-icon>
            <span class="md-headline">Nenhum resultado encontrado</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>